.tennis-table {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 115%;
width: auto;
overflow: auto;
display: block;
}
.tennis-table th {
background-color: rgb(112, 196, 105);
font-weight: normal;
color: white;
padding: 20px 30px;
text-align: center;
}
.tennis-table td {
background-color: rgb(238, 238, 238);
padding: 20px 30px;
color: rgb(111, 111, 111);
}

button{
  background-color: rgb(112, 196, 105);
  font-weight: normal;
  color: white;
  text-align: center;
}
