<html lang="fr" ng-app="app">

<head>
  <meta charset="utf-8" />
  <title>tennis game</title>

  <link rel="stylesheet" href="css/style.css">

  <script src="js/vendor/jquery-1.12.4.min.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/app.js"></script>

</head>

<body style="margin:0.5em;">

  <div ng-controller="appCtrl">
    <header>
      <h1>Tennis game</h1>
    </header>

    <div class="row" ng-repeat="set in game.sets track by $index">

      <div class="col-lg-12">
        <h3> Set {{$index + 1}}</h3>
        <h4> Player 1 = {{set.point1}} </h3>
        <h4> Player 2 = {{set.point2}}  </h3>


        <table class="tennis-table">
          <tr>
            <th></th>
            <th ng-repeat="score in set.scores track by $index">
              {{($index == 0) ? 'Start the game' : '' }} {{($index > 0) && (score.idPlayerWin == 1) ? 'Player 1 wins 1 point' : '' }} {{($index > 0) && (score.idPlayerWin == 2) ? 'Player 2 wins 1 point' : ''}}

            </th>
          </tr>
          <tr>
            <td>Player 1 :</td>
            <td ng-repeat="score in set.scores">{{score.point1}}</td>
          </tr>
          <tr>
            <td>Player 2 :</td>
            <td ng-repeat="score in set.scores">{{score.point2}}</td>
          </tr>
          <tr>
            <td></td>
            <td ng-repeat="score in set.scores">
              {{score.endSet && (score.idPlayerWin == 1) ? 'Player 1 win the set' : '' }} {{score.endSet && (score.idPlayerWin == 2) ? 'Player 2 win the set' : '' }}
            </td>
          </tr>

        </table>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-lg-3">
        <button ng-disabled="computerMode" ng-click="runComputerMode()">Run computer mode</button>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-lg-3">
        <button ng-disabled="game.endGame" ng-click="playerScored(1)">Player 1 score</button>
        <button ng-disabled="game.endGame" ng-click="playerScored(2)">Player 2 score</button>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-lg-3">
        <button ng-click="newGame()" >new game</button>
      </div>
    </div>
    <p ng-if="game.endGame" style="color: red; font-weight:bold; font-size:1.5em">
      Game is end! Player {{game.idPlayerWin}} win !
    </p>
</body>

</html>
